<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User request panel</title>
    <th:block  th:include="header.html :: headerfiles"></th:block>
    <meta name="viewport"content="width=device-width", initial-scale="1">
    <link rel="stylesheet" th:href="@{/css/whole.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header th:insert="header.html :: nav"></header>

<center><h1>Centro de encomendas de [[${#httpServletRequest.remoteUser}]]</h1></center>
<div class ="flex1">
    <a style="margin-right: 2.5em" th:href="@{/request/showAllRequests}"
    ><button>Ver todas as encomendas</button></a>
    <a th:href="@{/request/addBasket}">
        <button>Criar carrinho novo</button></a>
</div>

</body>
</html>