<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block  th:include="header.html :: headerfiles"></th:block>
    <meta name="viewport"content="width=device-width", initial-scale="1">
    <link rel="stylesheet" th:href="@{/css/whole.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header th:insert="header.html :: nav"></header>
<p>Adicionar categoria</p>
<form
        th:action="@{/category/add/}"
        th:object="${categoria}"
        method="post"
>
    <div>
        <div>
            <label>Category</label>
            <input
                    type="text"
                    class="form-control"
                    id="categoria"
                    th:field="*{categoryName}"
            />
        </div>
        <input type="submit" value="Submit" />
    </div>
</form>

<table>

    <thead>
    <tr>
        <td><b>Nome</b> </td>
        <td><b>Mostrar todos os elementos</b> </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Category : ${categories}">

        <td th:text="${Category.categoryName}"></td>
        <td>
            <a th:href="@{/category/showAllFromCategory/{id}(id=${Category.id})}"
            ><button>More info</button></a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>