<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
    <th:block  th:include="header.html :: headerfiles"></th:block>
    <meta name="viewport"content="width=device-width", initial-scale="1">
    <link rel="stylesheet" th:href="@{/css/whole.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header th:insert="header.html :: nav"></header>
<form sec:authorize="isAnonymous()">
    <center><h1>Bem-Vindo visitante!</h1></center>
</form>
<form sec:authorize="isAuthenticated()">
    <center><h1>Bem-Vindo [[${#httpServletRequest.remoteUser}]]!</h1></center>
</form>
<center><footer>Esta é a página principal, qualquer dúvida não exite em nos contactar!</footer></center>
</body>

</html>